@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:wght@600&display=swap');

/* Style guide */
:root {
  /* colors*/
  --color-white: #fff;
  --color-footer:#00252e;
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
  --Pink: hsl(322, 100%, 66%);
  /*sizes*/
  --Mobile: 375px;
  --Desktop: 1440px;
}

/* Class */
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
h1 {
  color: var(--VeryDarkCyan);
}
h2 {
  color: var(--VeryDarkCyan);
}

.title{

}
.btn-pill{

}
.card{
	
}
.card .card-title{

}
.footer{
	background-color: var(--color-footer);
}