@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:wght@600&display=swap');

/* Style guide */
:root {
  /* colors*/
  --color-white: #fff;
  --color-footer:#00252e;
  --VeryPaleCyan: #ebfbff;
  --VeryDarkCyan: #00252e;
  --GrayishBlue: #808d99;
  --Pink: #ff52bf;
  /*sizes*/
  --Mobile: 375px;
  --Desktop: 1440px;
}
* {
  box-sizing: border-box;
}

/* Tags */
html {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
h1 {
  color: var(--VeryDarkCyan);
}
h2 {
  color: var(--VeryDarkCyan);
}

/* Class */
.container {
  padding: 64px;
  margin: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both
}
.column-1 {
  float: left;
  width: 8.333333333%;
  padding: 20px;
}
.column-2 {
  float: left;
  width: 16.66666667%;
  padding: 20px;
}
.column-3 {
  float: left;
  width: 25%;
  padding: 20px;
}
.column-4 {
  float: left;
  width: 33.33333333%;
  padding: 20px;
}
.column-5 {
  float: left;
  width: 41.66666667%;
  padding: 20px;
}
.column-6 {
  float: left;
  width: 50%;
  padding: 20px;
}
.column-7 {
  float: left;
  width: 58.33333333%;
  padding: 20px;
}
.column-8 {
  float: left;
  width: 66.66666667%;
  padding: 20px;
}
.column-9 {
  float: left;
  width: 75%;
  padding: 20px;
}
.column-10 {
  float: left;
  width: 83.33333333%;
  padding: 20px;
}
.column-11 {
  float: left;
  width: 91.66666667%;
  padding: 20px;
}
.column-12 {
  float: left;
  width: 100%;
  padding: 20px;
}
.main-nav {
  margin-top: 10px;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
.main-nav__item {
  display: inline-block;
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-nav {
  color: var(--color-white);
  margin-top: 10px;
  list-style: none;
  padding-left: 0;
}
.footer-nav__item {
  margin: 10px 0;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.li-link {
  color: var(--color-white);
  text-decoration: none;
}
.hero-content {
  margin: auto;
  padding: 10px;
  overflow: auto;
}
.hero-title {
  font-size: 3.5vw;
}
.hero-subtitle {
  font-size: 1.4vw;
}
.content {
  vertical-align: middle;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 64px;
  background-color: var(--color-white);
  border-radius: 25px;
}
.card-title {
  color: var(--VeryDarkCyan);
  font-size: 2.5vw;
}
.card-subtitle {
  color: var(--GrayishBlue);
  font-size: 1.4vw;
}
.button-white {
  background-color: var(--color-white);
  font-size: 1.4vw;
  border: none;
  color: var(--VeryDarkCyan);
  padding: 16px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-white:hover {
  background-color: rgb(240, 240, 240);
  color: var(--GrayishBlue);
}
.button-pink {
  background-color: var(--Pink);
  font-size: 1.4vw;
  border: none;
  color: var(--color-white);
  padding: 1vw 5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-pink:active {
  background-color: rgb(255, 154, 219);
}
.social-button {
  background-color: transparent;
  border-width: medium;
  color: var(--color-white);
  padding: 0.5em 0.6em;
  text-align: center;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border: 2px solid var(--color-white);
  border-radius: 50%;
}
.social-button:hover {
  color: var(--Pink);
  border: 2px solid var(--Pink);
}
.image-responsive {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer{
	background-color: var(--color-footer);
}



/* Media */
@media screen and (max-width: 1000px) {
  .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
    width: 100%;
    text-align: center;
  }
}